#root {
  max-width: 1280px;
  display: flex;
}

.countryList {
  margin-left: 200px;
  flex-basis: 400px;
}

.country:hover {
  background: rgba(245, 231, 1, 0.5);
  border: 2px solid #1a1a1a;
  color: #3d3a3a;
}

.countryInfo {
  width: 400px;
  border: 3px solid #000;
  position: fixed;
  top: 10px;
  right: 286px;
  padding: 20px;

}

p {
  margin-bottom: 0;
}

img {
  width: 200px;
  height: 100px;
}